<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swishlabs.intrepid_android" >

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- For Both permission include NETWORK_PROVIDER and GPS_PROVIDER -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Travel Smart"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="Welcome"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="Signup" >
        </activity>
        <activity
            android:name=".activity.DestinationsListActivity"
            android:label="Trips" >
        </activity>
        <activity
            android:name=".activity.TripPagesActivity"
            android:label="Trips" >
        </activity>
        <activity
            android:name=".activity.LegalActivity"
            android:label="Legal" >
        </activity>
        <activity
            android:name=".activity.ViewDestinationActivity"
            android:label="@string/title_activity_view_destination" >
        </activity>
    </application>

</manifest>
